{% extends 'base/base.html' %}

{% block title %}
  Home
{% endblock %}


{% block content %}
    <br>
    <a class="btn btn-secondary" href="{% url 'todo:home' %}">Back</a>
    <br><br><br>
    <div>
      <form class="form-inline" method="post" action="{% url 'todo:edit_item' item_id=item.id%}">
        {% csrf_token %}
        <input type="text" class="form-control mb-2 mr-sm-2" name="new_name" value="{{ item.item_name }}" required>
        <button type="submit" class="btn btn-secondary mb-2">Edit Item</button>
      </form>
    </div>
{% endblock %}